.HomePage {

    .home_introduce {
        margin-top: 20px;
        padding: 10px 5px;
        border-top: 4px solid #9af132;
        border-bottom: 4px solid #9af132;
        margin-bottom: 10px;


        h4 {
            font-weight: 600;
            color: #fff;
            font-size: 1.2rem;
            margin-bottom: 8px;
            border-bottom: 1px solid #7dbc32;
        }

        .home_context {
            padding: 2px 2px 2px 0;

            p {
                color: #000;
                margin-top: 8px;
                text-align: justify;
                line-height: 1.2rem;
            }
        }

        .home_image {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;

            .home_image_banner {
                color: #fff;
                font-size: .8rem;
            }

            .home_image_item {
                display: flex;
                gap: 8px;

            }
        }
    }

    .home_guide {
        margin-bottom: 10px;
        padding-bottom: 20px;
        border-bottom: 4px solid #9af132;

        h4 {
            font-weight: 600;
            color: #fff;
            font-size: 1.2rem;
            margin-bottom: 8px;
            border-bottom: 1px solid #7dbc32;
        }

        .home_context {
            padding: 2px 2px 2px 0;

            p {
                color: #000;
                margin-top: 8px;
                text-align: justify;
                line-height: 1.2rem;

                strong {
                    font-weight: 600;
                }
            }
        }
    }
}