.ForumDiscuss {
    padding-bottom: 20px;

    &__content {
        padding: 10px;
        margin: 0 20px 20px 20px;
        display: flex;
        align-items: center;
        gap: 16px;
        background-color: #fdf8da;
        border-radius: 10px;

        h4 {
            font-size: 1rem;
        }

        span {
            color: rgba(0, 0, 0, .45);
            font-size: 14px;
            line-height: 1.5715;
        }
    }

    &__panigate {
        display: flex;
        justify-content: end;
        margin-top: 20px;
        margin-right: 20px;

        .pagination {
            display: flex;
            gap: 10px;
            align-items: center;

            .page-item {
                cursor: pointer;
                border-radius: 5px;
                background-color: #f8f9fa;
                color: #000;
                transition: all .3s;

                &:hover {
                    background-color: #e9ecef;
                }

                .page-link {
                    background-color: #fff;
                    color: #000;
                    border: none;
                    padding: 6px 14px;
                    border-radius: 5px;
                }

                &.active {
                    color: #fff;

                    .page-link {
                        background-color: #7faf2d;
                        color: #fff;
                    }
                }
            }
        }
    }
}